<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
  <title>Knalezy</title>
  <meta charset="utf-8">

  <meta name="viewport" content="width=device-width">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<!-- WRAPPER -->
<div class="wrapper cf">
  <header class="cf">
    <!-- social-bar -->
    <div id="social-bar-holder">
      <ul id="social-bar" class="cf">
        <li class="dribbble"><a href="#" title="Dribbble"><%= image_tag "social/dribbble.png" %></a></li>
        <li class="facebook"><a href="#" title="Facebook"><%= image_tag "social/facebook.png" %></a></li>
        <li class="forrst"><a href="#" title="forrst"><%= image_tag "social/forrst.png" %></a></li>
        <li class="googleplus"><a href="#" title="googleplus"><%= image_tag "social/googleplus.png" %></a></li>
        <li class="twitter"><a href="#" title="twitter"><%= image_tag "social/twitter.png" %></a></li>
      </ul>
    </div>
    <div class="cf"></div>
	<!-- ENDS social-bar -->
	<div id="current_user" style="text-align:right;margin-right:10px;">
		<% if user_signed_in? %>
			hi, <%= current_user.email %> | <%= link_to "LOGOUT", destroy_user_session_path, :method => :delete %>
		<% else %>
			<%= link_to "LOGIN", new_user_session_path %>
		<% end %>
	</div>
	<div align="center"; font-color: "red"> KNALEZY - Share your skill </div>
	<div id="logo" class="cf"> <a href="/posts"><%= image_tag "logo.png" %></a> </div>
    
	<!-- nav -->
    <nav class="cf">
      <ul id="nav" class="sf-menu">
        <li class="current-menu-item"><a href="/posts"><span>HOME</span></a></li>
        <li><%= link_to "PAGE", categories_path %>
          <ul>
            <li><%= link_to "Computer", pages_computer_path %></li>
            <li><%= link_to "Language", pages_language_path %></li>
            <li><%= link_to "Music", pages_music_path %></li>
            <li><%= link_to "Workout", pages_workout_path %></li>
          </ul>
        </li>
        <li><a href="blog.html"><span>FORUM</span></a></li>
        <li><a href="portfolio.html"><span>WORK</span></a></li>
        <li><%= link_to "CONTACT", public_about_us_path %></li>
      </ul>
      <div id="combo-holder"></div>
    </nav>
    <!-- ends nav -->
</header>
<!-- MAIN -->
<div role="main" id="main" class="cf">
  

<%= yield %>


  <footer>
    <!-- twitter -->
    <div id="twitter-holder">
      <div class="ribbon-left"></div>
      <div class="ribbon">
        <div id="tweets-bar" class="tweet">
          <ul class="tweet_list">
            <li class="tweet_first tweet_odd"><span class="tweet_time"><a href="#">about 13 hours ago</a></span> <span class="tweet_text">Vestibulum tortor quam, feugiat vitae, ultricies eget <a href="#">domain.com</a></span></li>
          </ul>
        </div>
      </div>
      <div class="ribbon-right"></div>
    </div>
    <!-- ENDS twitter -->
   
    <!-- bottom -->
    <div id="bottom">
      <div id="widget-trigger-holder"><a id="widget-trigger" href="#" title="View More" class="poshytip"></a></div>
      <div id="content">&copy; Copyright 2012 <a href="#">Knalezy</a> All Rights Reserved | Website Template By <a target="_blank" href="http://www.luiszuno.com">luiszuno</a></div>
    </div>
    <!-- ENDS bottom -->
  </footer>
</div>
<!-- ENDS WRAPPER -->
<!-- JavaScript at the bottom for fast page loading -->
<script src="js/jquery-1.7.1.min.js"></script>
<!-- scripts concatenated and minified via build script -->
<script src="js/custom.js"></script>
<!-- superfish -->
<script src="js/superfish-1.4.8/js/hoverIntent.js"></script>
<script src="js/superfish-1.4.8/js/superfish.js"></script>
<script src="js/superfish-1.4.8/js/supersubs.js"></script>
<!-- ENDS superfish -->
<script src="js/jquery.nivo.slider.js"></script>
<script src="js/css3-mediaqueries.js"></script>
<script src="js/tabs.js"></script>
<script src="js/poshytip-1.1/src/jquery.poshytip.min.js"></script>
<!-- end scripts -->
</body>
</html>

